@import url(../../App.css);

@font-face {
    font-family: marcelus;
    src: url('/src/fonts/marcelus.ttf');
}


.home-heading {
    font-family: marcelus, sans-serif !important;
    font-weight: 400 !important;
    font-size: clamp(1.80rem, calc(1.77rem + 0.15vw), 1.88rem) !important;
    color: #555;
}

#floated {
    float: right !important;
    width: 450px;
    height: 350px;

}


.image.description {
    color: #fff;
    text-shadow: none;
    height: auto !important;
    max-width: 100% !important;
    padding: 3px 0 0 0 !important;
    line-height: 1.4em !important;
    font-size: 14px !important;
    color: #999999 !important;
    font-weight: normal !important;
    font-style: normal !important;
    margin: 0;
}